.container {
    position: relative;
    height: 100vh;
    background: url('C:\Users\jothi\Desktop\projectthree\projectthree\src\poll.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #0b0b0b; 
  }
  
    form {
      background: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  
    label {
      display: block;
      margin-bottom: 10px;
    }
  
    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
    }
  
    button {
      background-color: #8128c4;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    button:hover {
      background-color: #bd1ec2;
    }